<ng-container *ngIf="true">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                
                <table class="tablecart">
                    <thead class="table table-responsive">
                        <tr>
                            <th>Nom du produit</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody class="table table-responsive">
                        <tr *ngFor="let item of productsCart; let i = index">
                         
                            <td>{{item['name']}}</td>
                            <td>{{item['price']}}</td>
                            <th></th>
                            <td></td>
                            <td>{{item.size}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
</ng-container>

<ng-container *ngIf="false">
    <div class="containerCart">
        <div class="contain">
            <div class="card">
                <h5 class="card-title">My Cart</h5>
            </div>
            <div class="center">
                <img src="https://png.pngtree.com/thumb_back/fw800/background/20220815/pngtree-shopping-cart-website-business-order-photo-image_9039126.jpg" alt="">
                <h4>Your cart is empty</h4>
                <h6>Add item to it now</h6>
                <button class="btn btn-primary">Shop Now</button>
            </div>
        </div>
    </div>
</ng-container>