<ng-container *ngIf="false">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Iphone</td>
                        <td>Some Image</td>
                        <td>This is branded phone</td>
                        <th>50,000</th>
                        <td>1</td>
                        <td>50,000</td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</ng-container>

<ng-container *ngIf="true">
    <div class="containerCart">
        <div class="contain">
            <div class="card">
                <h5 class="card-title">My Cart</h5>
            </div>
            <div class="center">
                <img src="https://png.pngtree.com/thumb_back/fw800/background/20220815/pngtree-shopping-cart-website-business-order-photo-image_9039126.jpg" alt="">
                <h4>Your cart is empty</h4>
                <h6>Add item to it now</h6>
                <button class="btn btn-primary">Shop Now</button>
            </div>
        </div>
    </div>
</ng-container>