<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Site</title>
</head>
<body>
    <header id="ctn-header" class="f-center">
        <div class="txt-nav">
            <p routerLink="home">ACCUEIL</p>
            <p routerLink="checkout">NOUVEAUTES</p>
            <p>FEMME</p>
            <p>HOMME</p>
        </div>
        <img class="logo" src="../../../assets/logo/logo.png" alt="">
        <mat-icon class="login-btn">shopping_cart</mat-icon>
    </header>

    <!-- Le reste de votre contenu -->

    <script src="script.js"></script>
</body>
</html>
