#ctn-header {
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 2px 2px #0000009a;

    .logo{
        width: 130px;
        height: 80px;
        margin: 0%;
    }
}

