<div *ngIf="polo" class="container">
    <div class="header">
        <div class="header-logo">
            <h1 class="product__title">{{polo.name}}</h1>
        </div>
        <nav class="header-nav">
        </nav>
    </div>
    
    <div class="product">
        <app-image-carousel></app-image-carousel>
        <div class="product-detail">
            <div class="productprice">Prix: {{polo.price - (polo.price * polo.reduction / 100) }} EUR</div>
            <div class="productcolor">
                <div class="color-box"></div>
                <p>Couleur: <span class="color-text">{{polo.colors}}</span></p>
            </div>
            <div class="product__sizes">
              <p>Tailles disponibles:</p>
              <div class="size-boxes">
                  <label for="size-s" class="size-box">
                      <input type="radio" id="size-s" name="size" value="S">
                      S
                  </label>

                  <label for="size-m" class="size-box">
                      <input type="radio" id="size-m" name="size" value="M">
                      M
                  </label>

                  <label for="size-l" class="size-box">
                      <input type="radio" id="size-l" name="size" value="L">
                      L
                  </label>

                  <label for="size-xl" class="size-box">
                      <input type="radio" id="size-xl" name="size" value="XL">
                      XL
                  </label>
              </div>
          </div>        
            <div class="product__reduction">
                <!-- Ne pas afficher ici -->
            </div>
            <!-- Ajoutez le bouton "Ajouter au panier" ici -->
            
            <button id="buttonadd" (click)="cartService.addtoCart(polo)">
                Ajouter au panier
            </button>
        </div>
    </div>
  </div>
