<!-- Formulaire d'inscription -->
<div *ngIf="mode === 'inscription'">
    <h2>Inscription</h2>
    <form (submit)="soumettreInscription()">
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" [(ngModel)]="inscription.email" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" [(ngModel)]="inscription.password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Répéter le mot de passe :</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="inscription.confirmPassword" required>
      </div>
      <button type="submit">S'inscrire</button>
    </form>
    <p>Déjà un compte ? <a (click)="passerEnModeConnexion()">Se connecter</a></p>
  </div>
  
  <!-- Formulaire de connexion -->
  <div *ngIf="mode === 'connexion'">
    <h2>Connexion</h2>
    <form (submit)="soumettreConnexion()">
      <div class="form-group">
        <label for="connexionEmail">Email :</label>
        <input type="email" id="connexionEmail" name="connexionEmail" [(ngModel)]="connexion.email" required>
      </div>
      <div class="form-group">
        <label for="connexionPassword">Mot de passe :</label>
        <input type="password" id="connexionPassword" name="connexionPassword" [(ngModel)]="connexion.password" required>
      </div>
      <button type="submit">Se connecter</button>
    </form>
    <p>Pas encore de compte ? <a (click)="passerEnModeInscription()">S'inscrire</a></p>
  </div>

<!-- Bouton pour passer à la page de connexion -->
<div *ngIf="mode !== 'connexion'">
    <button (click)="redirigerVersConnexion()">Se connecter</button>
</div>
